body {
  font-family: San Francisco, Arial, Helvetica, sans-serif;
  font-size: small;
}

.timeline-main {
  display: table;
  border-collapse: collapse;
}

.timeline {
  display: table-row;
  border-bottom: 1px solid #ddd;
}

.timeline-date {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline-sender {
  display: table-cell;
  white-space: nowrap;
  max-width: 200pt;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline-body {
  display: table-cell;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline-body p {
  margin: 0;
}

.membership-join, .membership-leave, .membership-invite {
  font-style: italic;
  color: #666666;
}
